.trend-section {
  width: 100%;
  max-width: 1226px;
  padding: 2rem 3.5rem 6rem; 
  background: #FFFFFF;
  margin: 0 auto; 
}


.row {
  margin: 0; 
}
.property-card {
  position: relative;
  width: 100%; 
  overflow: hidden;
  border-radius: 0.5rem; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.2s, box-shadow 0.2s; 
  padding: 0 20px; 
}
.property-card:hover {
  transform: translateY(-3px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}




.property-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem; 
  object-fit: cover; 
}

.card-price {
  color: #025595;
  font-weight: 600; 
  margin: 10px 0; 
}

.card-title {
  margin: 0; 
  font-size: 1.125rem; 
  font-weight: 700;
  color: #000;
  text-align: left; 
}

.location {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  font-size: 0.875rem;
  color: #555;
  margin: 20px 0; 
}

.location i {
  margin-right: 0.5rem; 
}

@media (max-width: 768px) {
  .trend-section {
    padding: 2rem 1.25rem; 
  }

  .property-card {
    max-width: 300px; 
    margin: 0 auto; 
  }
}

